/* ruio global button styling */
.ruio-btn {
  /* background: none; */
  border: none;
  padding: 0;
  margin: 0;

  cursor: pointer;
  /* appearance: none;
  box-shadow: none;
  text-align: center; */

  background-color: #1c2120;

  /* overflow: hidden; */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(0.97);
  }
  80% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 150ms ease-out;
}

/* secondary icons */
.ruio-btn-secondary {
  overflow: hidden;

  width: 34px;
  height: 34px;
  border-radius: 10px;
  cursor: pointer;

  transition:
    transform 150ms ease-in-out,
    opacity 150ms ease-in-out;
}

.ruio-btn-secondary:hover {
  transform: scale(1.05);
}

/* ElementSelectIcon.tsx */
.ruio-element-select-btn-inactive {
  opacity: 0;
  cursor: pointer;

  transition:
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
  transform: translateY(20px);

  .ruio-mouse-pointer {
    stroke: #eaf8ef;
  }

  .ruio-outline {
    stroke: #06e5d5;
  }
}

.ruio-element-select-btn-active {
  opacity: 1;

  transform: translateY(0);
}

/* SettingsIcon.tsx */
.ruio-settings-btn-inactive {
  transition:
    opacity 250ms ease-in-out,
    transform 250ms ease-in-out;
  transform: translateY(20px);
  opacity: 0;
  border: none;

  cursor: pointer;
  fill: #1c2120;
}

.ruio-settings-btn-active {
  transform: translateY(0);
  opacity: 1;
}

/* RuioToggleController */
.ruio-btn-primary {
  border-radius: 8px;

  width: 45px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 3px;
}

.ruio-btn-primary:hover {
  opacity: 1;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
  transform: scale(1.05);
}

.ruio-logo-btn-disabled,
.ruio-logo-btn-disabled:hover {
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
  opacity: 0.5;
}

.ruio-logo-btn-enabled,
.ruio-logo-btn-enabled:hover {
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
  transform: rotate(-10deg);
  opacity: 1;
}

/* SettingsModal */
.ruio-btn-close-modal {
  /* position: absolute; */
  cursor: pointer !important;
  width: 3rem !important;
  height: 3rem !important;
  outline: none !important;
  pointer-events: all !important;
  /* z-index: 9999 !important; */
  box-sizing: border-box !important;
}
