.ruio-btn {
  all: unset;
  width: 44px;
  height: 44px;
  background-color: #1c2120;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.ruio-button-enabled {
  opacity: 1;
  transition: opacity 0.3s ease;
  transform: scale(1);
}

/* ToggleElementSelectionModeIcon.tsx */
.ruio-element-select-btn {
  cursor: pointer;
  border-radius: 12px;

  .ruio-mouse-pointer {
    stroke: #eaf8ef;
  }

  .ruio-outline {
    stroke: #06e5d5;
  }
}

/* SettingsIcon.tsx */
.ruio-settings-btn {
  cursor: pointer;
  fill: #1c2120;
  border-radius: 12px;

  .ruio-outline {
    stroke: #06e5d5;
  }

  .ruio-bar-bg {
    stroke: #eaf8ef;
  }

  .ruio-dial {
    stroke: #eaf8ef;
  }
}

/* RuioToggleController */
.ruio-logo-btn {
  transform: scale(0.99);
  transition: transform 0.5s ease-in-out;

  margin-top: 8px;
  border-radius: 10px;
  width: 50px;
}

.ruio-logo-btn:hover {
  opacity: 1;
  transition:
    transform 0.2s ease-in,
    opacity 0.2s ease-in;
  transform: scale(1.08);
}

.ruio-logo-btn-disabled {
  opacity: 0.5;
}

.ruio-logo-btn-enabled {
  transform: scale(1);
  opacity: 1;
}
