.ruio-btn {
  all: unset;
  width: 44px;
  height: 44px;
  background-color: #1c2120;
  overflow: hidden;
}

/* ToggleElementSelectionModeIcon.tsx */
.ruio-element-select-btn {
  cursor: pointer;
  border-radius: 12px;

  .ruio-mouse-pointer {
    stroke: #eaf8ef;
  }

  .ruio-outline {
    stroke: #06e5d5;
  }
}

/* SettingsIcon.tsx */
.ruio-settings-btn {
  cursor: pointer;
  fill: #1c2120;
  border-radius: 12px;

  .ruio-outline {
    stroke: #06e5d5;
  }

  .ruio-bar-bg {
    stroke: #eaf8ef;
  }

  .ruio-dial {
    stroke: #eaf8ef;
  }
}

.ruio-logo-btn {
  margin-top: 8px;
  border-radius: 12px;
  width: 50px;
}
