.colorPaletteDropdownControl {
  justify-self: center;
  width: fit-content;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;

  width: 10rem;

  background-color: #383b3a;
  position: absolute;
  top: 125%;
  right: 0;
  padding: 0.5rem 0rem;
  border-radius: 8px;

  /* transition effects */
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    visibility 0.3s;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;

  overflow-y: auto;

  gap: 0.2rem;
}

.dropdownMenuOpen {
  max-height: 10rem;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.dropdownMenu::-webkit-scrollbar {
  width: 5px;
  margin-top: 8px;
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background-color: #565a59;
  border-radius: 8px;
}

.dropdownMenu::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdownMenu {
  scrollbar-width: thin;
  scrollbar-color: #565a59 transparent;
}

.dropdownItemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 200;
  font-size: 0.75rem;
  padding: 0.7rem 0;
}

/* .dropdownItemContainer:hover {
  background-color: #565a59;
} */

.dropdownMenuItemActive {
  background-color: #565a59;
}

.dropdownItemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.dropdownItemDetails {
  width: 75%;
}

.dropdownItemTitle {
  margin-bottom: 0.3rem;
}

.dropdownItemColorPalette {
  list-style: none;
  display: flex;
  padding: 0;
  height: 0.55rem;
  width: 80%;
  margin: 0;
  border-radius: 50px;
  overflow: hidden;
}

.dropdownItemColorSwatch {
  flex: 1;
}
