.ruio-control-panel {
  bottom: 40px;
  right: 40px;

  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  .ruio-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
