@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* TODO: add ruio global css variables:
- dynamic (vw?) width
- dynamic (vw?) height
- global icon dimensions
- global primary colors (white, black, and blue)
*/

/* RuioUIContainer */
.ruio-ui-container {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;

  bottom: 40px;
  right: 40px;

  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
}

.ruio-toggle-container {
  z-index: 9998;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  transition: transform 250ms ease-in-out;
}

.ruio-toggle-container:hover {
  transform: scale(1.05);
}

.ruio-logo-div {
  z-index: 9998;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.ruio-logo-div-active {
  transition:
    transform 250ms ease-in-out,
    opacity 150ms ease-in-out;
  transform: scale(0.9) rotate(10deg);
}

.ruio-logo-div-inactive {
  transition:
    transform 250ms ease-in-out,
    opacity 150ms ease-in-out;
  transform: scale(1);
}

.ruio-logo-div-bg {
  z-index: 9997;
  position: absolute;
  bottom: 0;
  right: 0;

  border-radius: 15px;
  transition:
    transform 250ms ease-in-out,
    opacity 150ms ease-in-out;
  will-change: opacity;
  width: 100%;
  height: 100%;
}

.ruio-logo-div-bg-active {
  background: #06e5d5;

  transform: scaleX(1.1) scaleY(1.03) rotate(3deg);
  opacity: 1;
}

.ruio-logo-div-bg-inactive {
  transform: scaleX(0.1) scaleY(1) rotate(0deg);
  opacity: 0;
}

/* ElementSelectIcon.tsx */
.ruio-icon {
  width: auto;
  height: auto;
  transition: transform 250ms ease-in-out;
}
.ruio-icon:hover {
  transform: scale(1.05);
}

/* ColorPaletteDropdown */
.ruio-dropdown-list-item-active-theme {
  background-color: #565a59;
}

.ruio-dropdown-list-item {
}

.ruio-input-active {
  outline: 0.01rem solid #06e5d5;
}
