.icon-container {
  position: relative;
}

.settings-icon {
}

.element-select-icon {
}

.close-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: inherit;
  width: 1.5rem;
  height: 1.5rem;
  padding: 7px;
  border-radius: 5px; /* triple to the relative containing modal */
}
.close-modal-btn:hover {
  background-color: #565a59;
}

.chevron {
  cursor: pointer;
  background-color: transparent;
  padding: 0 0.75rem;
  width: 2rem;
  height: inherit;
  position: absolute;
  right: 0;
  border-radius: 8px;
}

.chevron:focus {
  outline: none;
}

.chevronInactive {
  transform: rotate(0deg);
  transition: transform 300ms ease;
}
.chevronActive {
  transform: rotate(180deg);
  transition: transform 300ms ease;
}

.checkmark {
  cursor: inherit;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  height: inherit;
  position: absolute;
}
