.ruio-input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  outline: none;
  appearance: none;
}
.ruio-input-active {
  outline: 0.01rem solid #06e5d5;
}
