:root {
  --ruio-toggle-width: 75px;
}

.ruio-toggle-container {
  /* TODO: utilize the dynamic width sizing from ^^^ */
  display: inline-block;
  border-radius: 50px;
  box-sizing: border-box;
  z-index: 9999;
}

/*
TODO: add a opacity effect when not hovering over button or when the util is disabled
TODO: slight grow on hover
TODO: slight shrink on hover off
TODO: greater grow on toggle on
TODO: shrink on toggle off

*/
