.modalContainer {
  position: absolute;
  right: 105%;
  bottom: 110%;
  display: flex;
  flex-direction: column;

  background-color: #323635;
  border: 0.1rem solid #06e5d5;
  color: white;
  width: 20rem;
  height: 14rem;
  border-radius: calc(20rem * 0.03125);

  padding: 1rem 2rem;
  font-size: 1rem;

  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  opacity: 0;
  transform: translateY(20%);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.open {
  opacity: 1;
  transform: translateY(0);
}

.mainContent {
  flex-grow: 1;
  font-weight: 300;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.title,
.categorySubtitle {
  margin: 0;
}
.title {
  font-weight: 500;
}

/* Category Section */
.category {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.categorySubtitleSection {
  display: flex;
  align-items: center;
  color: #a6a6a6;
  gap: 1.75rem;
}

.categorySubtitle {
  font-weight: 400;
  font-size: 0.9rem;
}

.categoryDividerBar {
  flex: 1;
  border: none;
  border-top: 0.1rem solid #5e5e5e;
}

/* Footer */
.modalFooter {
  height: 50%;
  max-height: 3rem;
  background-color: #1c2120;
  display: flex;
  align-items: center;
  margin: 1.25rem -2rem -1rem -2rem;
  font-size: 0.8rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.reportIssue {
  color: #5e5e5e;
  margin-left: 2rem;
}
