.ruio-svg {
  border-radius: 10px;
}

/* ToggleElementSelectionModeIcon */
.ruio-element-select-svg {
  fill: #1c2120;
}
.ruio-element-select-svg .ruio-mouse-pointer {
  fill: #1c2120;
  stroke: #eaf8ef;
}

.ruio-element-select-svg .ruio-outline {
  stroke: #06e5d5;
}

/* ToggleSettingsIcon */
.ruio-settings-svg {
  fill: #1c2120;
}
.ruio-settings-svg .ruio-outline {
  stroke: #06e5d5;
}

.ruio-settings-svg .ruio-bar-bg {
  stroke: #eaf8ef;
  opacity: 0.9;
}

.ruio-settings-svg .ruio-dial {
  stroke: #eaf8ef;
}

/* logo in RuioToggleController */
.ruio-logo-svg {
  fill: #eaf8ef;
}

/* close modal icon/svg */
.close-modal-svg {
  max-width: 0.85rem;
  max-height: 0.85rem;
  fill: none;
  /* stroke: #eaf8ef; */
}

.close-modal-svg path:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgb(51, 51, 51) 0px 0px 0px 3px;
}

.ruio-chevron-svg {
  max-width: 0.85rem;
  max-height: 0.85rem;
  fill: none;
}
