.ruio-svg {
  border-radius: 10px;
  /* pointer-events: 'none'; */
}

/* ToggleElementSelectionModeIcon */
.ruio-element-select-svg {
  fill: #1c2120;
}
.ruio-element-select-svg .ruio-mouse-pointer {
  fill: #1c2120;
  stroke: #eaf8ef;
}

.ruio-element-select-svg .ruio-outline {
  stroke: #06e5d5;
}

/* ToggleSettingsIcon */
.ruio-settings-svg {
  fill: #1c2120;
}
.ruio-settings-svg .ruio-outline {
  stroke: #06e5d5;
}

.ruio-settings-svg .ruio-bar-bg {
  stroke: #eaf8ef;
  opacity: 0.9;
}

.ruio-settings-svg .ruio-dial {
  stroke: #eaf8ef;
}

/* logo in RuioToggleController */
.ruio-logo-svg {
  fill: #eaf8ef;
}

/* close modal icon/svg */
.ruio-close-modal-svg {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the entire SVG is visible */
  object-position: center;
  position: relative;
  fill: yellow;
}
.ruio-close-modal-svg path {
  width: 100%;
  height: 100%;
  fill: yellow;
  /* z-index: 1; */
}
