.ruio-element-selection-mode-icon {
  background-color: #1c2120;
  cursor: pointer;
  border-radius: 15px;
  fill: #1c2120;

  .ruio-mouse-pointer {
    stroke: #eaf8ef;

    /* fill: #06e5d5; */
    /* fill-opacity: 0.15; */
  }

  .ruio-outline {
    stroke: #06e5d5;
    opacity: 0.9;
  }
}
