.control {
  justify-self: center;
  width: fit-content;
}

.menu {
  display: flex;
  flex-direction: column;

  width: 10rem;

  background-color: #383b3a;
  position: absolute;
  top: 125%;
  right: 0;
  padding: 0.5rem 0rem;
  border-radius: 8px;

  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    visibility 0.3s;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  gap: 0.2rem;
}

.menuOpen {
  max-height: 10rem;
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}

.menu::-webkit-scrollbar {
  width: 5px;
  margin-top: 8px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #565a59;
  border-radius: 8px;
}

.menu::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu {
  scrollbar-width: thin;
  scrollbar-color: #565a59 transparent;
}

.itemContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 200;
  font-size: 0.75rem;
  padding: 0.7rem 0;
}

.itemActive {
  background-color: #565a59;
}

.itemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.itemDetails {
  width: 75%;
}

.itemTitle {
  margin-bottom: 0.3rem;
}

.itemColorPalette {
  list-style: none;
  display: flex;
  padding: 0;
  height: 0.55rem;
  width: 80%;
  margin: 0;
  border-radius: 50px;
  overflow: hidden;
}

.itemColorSwatch {
  flex: 1;
}

.itemDescription {
  font-size: 0.65rem;
  color: #9ca3af;
  font-style: italic;
  width: 80%;
}
