@import url('@root/styles/variables.css');

.container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
}

.title {
  margin: 0;
  font-weight: 400;
}

.controlContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  max-width: 6.5rem;
  background-color: var(--ruio-color-bg-medium);
  border-radius: var(--ruio-radius-md);
  height: 1.8rem;
  position: relative;
  box-shadow: var(--ruio-box-shadow-button);
}

.controlContainerActive {
  outline: 0.01rem solid var(--ruio-color-accent);
}

.button {
  composes: buttonReset from '@root/styles/base.module.css';

  font-size: inherit;
  width: 2rem;
  height: inherit;
  cursor: pointer;
  background-color: var(--ruio-color-bg-medium);
  border-radius: var(--ruio-radius-md);
  color: var(--ruio-color-text-primary);
  box-shadow: var(--ruio-box-shadow-button);
  padding: 0 0.75rem;
}

/* Depth control variants */
.depthControlContainer {
  background-color: transparent;
  justify-content: space-between;
  box-shadow: none;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

.depthControlButtonLeft {
  justify-self: start;
}

.depthControlButtonRight {
  justify-self: end;
}

.depthControlInput {
  composes: inputReset from '@root/styles/base.module.css';

  justify-self: center;
  align-self: center;
  width: 2.5rem;
  font-size: inherit;
  text-align: center;
  color: var(--ruio-color-text-primary);
  height: 2rem;
}

/* Theme control variants */
.themeControlContainer {
  user-select: none;
  cursor: pointer;
  grid-template-columns: 1fr auto;
}

.themeControlContainer:focus {
  outline: 0.01rem solid var(--ruio-color-accent);
}
